<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
  <div class="navbar">
  <header>
    <nav>
       <a href="{{ url_for('home')}}">Home</a>
            <a href="{{ url_for('about')}}">About us</a>
            <a href="{{ url_for('reviews')}}">Reviews</a>
            <a href="{{ url_for('services')}}">Services</a>
            <a href="{{ url_for('contact')}}">Contact</a>
            <a href="{{ url_for('register')}}">Register</a>
            
    </nav>

  </header>
  </div>
  <h1><blockquote>Healling Begins with a tiny incision</blockquote> </h1>  
<div>
  <p>
  At Elite Medical, we believe healing shouldn't come with pain, long scars or endless recovery. <br>
  That's why we specialize in advances Minimally invasive Surgery (MISI), the modern solution for faster, safer, and smarter healing.
</p>
</div>
<br><br>
<div>
<p>
  Elite Medical delivers energy-based devices, including ultrasonic and advanced bipolar surgical equip,ments for Advanced minimally invasive surgery.
</p>
</div>
<br><br>
<h2>Mission Statement</h2>

<p>
  <ul>
    <div>
  <li>We are a medical devices wholesale company specializing in Medical equipments ,Minimally invasive surgery and related medical surgical consumables.🏥💉</li></div><br><br>
 <div> <li> Deliver innovative surgical solutions with world class customer service to improve outcomes and patient quality of life </li></div><br><br>
  </ul>
</p>


<footer class="block block--dark footer">
    
</footer >

</body>
</html>